<!-- src/components/sidebar/sidebar.html -->

<aside class="sidebar">

  <div>

    <!-- LOGO -->

    <div class="logo">

      <h1>MedFlow</h1>

      <p>Prontuário Eletrônico Inteligente</p>

    </div>

    <!-- MENU -->

    <nav class="menu">

      <a
        href="../../pages/dashboard/dashboard.html"
        class="menu-link"
        data-page="dashboard"
      >
        Dashboard
      </a>

      <a
        href="../../pages/pacientes/pacientes.html"
        class="menu-link"
        data-page="pacientes"
      >
        Pacientes
      </a>

      <a
        href="../../pages/atendimentos/atendimentos.html"
        class="menu-link"
        data-page="atendimentos"
      >
        Atendimentos
      </a>

      <a
        href="../../pages/prontuarios/prontuarios.html"
        class="menu-link"
        data-page="prontuarios"
      >
        Prontuários
      </a>

      <a
        href="../../pages/relatorios/relatorios.html"
        class="menu-link"
        data-page="relatorios"
      >
        Relatórios
      </a>

      <a
        href="../../pages/avaliacoes/avaliacoes.html"
        class="menu-link"
        data-page="avaliacoes"
      >
        Criar avaliação
      </a>

      <a
        href="../../pages/configuracoes/configuracoes.html"
        class="menu-link"
        data-page="configuracoes"
      >
        Configurações
      </a>

    </nav>

  </div>

  <!-- FOOTER -->

  <div class="sidebar-footer">

    Sistema hospedado

  </div>

</aside>